@CHARSET "UTF-8";

/* the style here is for laravel pagination links() */
.pagination { 
    font:13px verdana, arial, sans-serif; /* font settings */
}
.pagination, .pagination li {
	/*float:left;*/
    list-style:none;    /* remove default listing signs */
    padding:0;          /* remove default internal padding */
	margin:0 0 0 0;		/* remove default external padding */
    max-height:0.5em;	/* remove default external padding */
}

.pagination>a>li{}